@charset "UTF-8";

.design04 {
	width: 100%;
	text-align: center;
	border-spacing: 0;
}



.design04 .th {
	padding: 10px;
	
	margin:0 20%;
   
	color: #ffffff;
	
}



.design04 .td {
	padding: 10px;
	
}





