@charset "UTF-8";

.design04 {
	width: 100%;
	text-align: center;
	border-spacing: 0;
}

.design04 tr:nth-child(2n+1) {
	background: #e9faf9;
}

.design04 .th {
	padding: 10px;
	background: #778ca3;
	border-right: solid 1px #778ca3;
	color: #ffffff;
	border-bottom: solid 1px #778ca3;
}

.design04 .th:last-child {
	border-right: solid 1px #778ca3;
}

.design04 .td {
	padding: 10px;
	border-right: solid 1px #778ca3;
	border-bottom: solid 1px #778ca3;
}

.design04 .td:last-child {
	border-right: solid 1px #778ca3;
}

.design04 .td:nth-child(1) {
	border-left: solid 1px #778ca3;
}

.design04 .th:nth-child(1) {
	border-left: solid 1px #778ca3;
}

.container {
	display: flex;
	justify-content: center;
	position: relative;
}



.item7 {
	width: calc(100%/ 7);
	padding: 20px 10px;
	text-align: center;
}

.item5
{
	flex:glow;
	width: calc(100%/ 5);
	padding: 20px 10px;
	text-align: center;
}


input{
	width:100%
}

.flex-containerTate {
	display: column;
}

.wide30{
	width:20%;
	display:column;
	justify-content: center;
	margin:20px auto;
}

.wide50{
	width:80%;
	display:column;
	justify-content: center;
	margin:20px auto;
}

.wide120{
	width:120%;
	
}

.wide100{
	display: flex;
	justify-content: space-around;
	position: relative;
		
}

.item13{
	width: calc(100%/ 13);
	padding: 20px 10px;
	text-align: center;
	
}

.regi{
	display: column;
	margin:20px auto;
}

.item1{
	font-size:2rem;
	width: auto;
	padding: 20px 10px;
	text-align: center;
	border-left: solid 1px #778ca3;
	
}

.item2 {
	width: calc(100%/ 2);
	padding: 20px 10px;
	text-align: center;
}

.last {
	border-top: solid 1px #778ca3;
}

.item4{
	flex:glow;
	width: calc(100%/ 4);
	padding: 20px 10px;
	text-align: center;
}
}
